In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("D:/Project/Untitled Folder/final_movie_with_Sent_embedding.csv")

In [4]:
df=df[df['votes']>5000]

In [5]:
df.shape

(16102, 13)

In [6]:
df.head()

,Unnamed: 0.1,Unnamed: 0,title,year,imdb_rating,metascore,votes,genre,runtime,certificates,img_url,plot,plot_embedding
0,0,0,Psycho,1960,8.5,97.0,758866,"['Drama', 'Horror', 'Mystery']",6540.0,R,https://m.media-amazon.com/images/M/MV5BYjZhMz...,A secretary on the run for embezzlement takes ...,[-2.54985727e-02 4.69600223e-02 -4.14056852e-...
1,1,1,The Apartment,1960,8.3,94.0,210681,"['Comedy', 'Drama', 'Romance']",7500.0,Approved,https://m.media-amazon.com/images/M/MV5BNDdhMz...,A Manhattan insurance clerk tries to rise in h...,[ 1.24864271e-02 1.26574710e-02 -2.79607270e-...
2,2,2,Spartacus,1960,7.9,87.0,148871,"['Adventure', 'Biography', 'Drama']",11820.0,PG-13,https://m.media-amazon.com/images/M/MV5BMTcyOT...,The slave Spartacus survives brutal training a...,[-3.40616852e-02 2.96150967e-02 -1.90523751e-...
3,3,3,The Magnificent Seven,1960,7.7,74.0,107555,"['Action', 'Adventure', 'Drama']",7680.0,Approved,https://m.media-amazon.com/images/M/MV5BMzYyNz...,Seven gunfighters are hired by Mexican peasant...,[-3.28211859e-02 2.00974066e-02 -1.04040436e-...
4,4,4,À bout de souffle,1960,7.7,96.0,91699,"['Crime', 'Drama']",5400.0,Not Rated,https://m.media-amazon.com/images/M/MV5BZGI5MW...,"A small-time crook, hunted by the authorities ...",[ 9.68873408e-03 6.87137395e-02 -2.14084052e-...

In [7]:
df.drop(columns=['Unnamed: 0'],inplace=True)
df.drop(columns=['Unnamed: 0.1'],inplace=True)

In [8]:
df.head()

,title,year,imdb_rating,metascore,votes,genre,runtime,certificates,img_url,plot,plot_embedding
0,Psycho,1960,8.5,97.0,758866,"['Drama', 'Horror', 'Mystery']",6540.0,R,https://m.media-amazon.com/images/M/MV5BYjZhMz...,A secretary on the run for embezzlement takes ...,[-2.54985727e-02 4.69600223e-02 -4.14056852e-...
1,The Apartment,1960,8.3,94.0,210681,"['Comedy', 'Drama', 'Romance']",7500.0,Approved,https://m.media-amazon.com/images/M/MV5BNDdhMz...,A Manhattan insurance clerk tries to rise in h...,[ 1.24864271e-02 1.26574710e-02 -2.79607270e-...
2,Spartacus,1960,7.9,87.0,148871,"['Adventure', 'Biography', 'Drama']",11820.0,PG-13,https://m.media-amazon.com/images/M/MV5BMTcyOT...,The slave Spartacus survives brutal training a...,[-3.40616852e-02 2.96150967e-02 -1.90523751e-...
3,The Magnificent Seven,1960,7.7,74.0,107555,"['Action', 'Adventure', 'Drama']",7680.0,Approved,https://m.media-amazon.com/images/M/MV5BMzYyNz...,Seven gunfighters are hired by Mexican peasant...,[-3.28211859e-02 2.00974066e-02 -1.04040436e-...
4,À bout de souffle,1960,7.7,96.0,91699,"['Crime', 'Drama']",5400.0,Not Rated,https://m.media-amazon.com/images/M/MV5BZGI5MW...,"A small-time crook, hunted by the authorities ...",[ 9.68873408e-03 6.87137395e-02 -2.14084052e-...

In [9]:
df.shape

(16102, 11)

In [10]:
df.to_csv("D:/Project/Untitled Folder/final_movie_with_Sent_embedding_cleaned_16K.csv", index=False)